{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4">Task List <a href="{% url 'Todo:task-create' %}" class="btn btn-success float-right">Add</a></h1>

  {% if task_list %}
    <div class="list-group">
      {% for task in task_list %}
        <div class="list-group-item">
          <h5 class="d-flex justify-content-between">
            <span>{{ task.content }}</span>
          </h5>

          <p class="mb-2">
            <strong>Tags:</strong>
            {% if task.tags.all %}
              <ul>
                {% for tag in task.tags.all %}
                  <li>{{ tag.name }}</li>
                {% endfor %}
              </ul>
            {% else %}
              No tags
            {% endif %}
          </p>

          <p>
            <strong>Datetime:</strong> {{ task.datetime|date:"d M Y H:i" }}<br>
            {% if task.deadline %}
              <strong>Deadline:</strong> {{ task.deadline|date:"d M Y H:i" }}
            {% endif %}
          </p>

          <div class="d-flex justify-content-between">
            <div class="ml-auto">
              {% if task.is_done %}
                <form action="{% url 'Todo:toggle-task-status' task_id=task.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-warning btn-sm">Undo</button>
                </form>
              {% else %}
                <form action="{% url 'Todo:toggle-task-status' task_id=task.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary btn-sm">Complete</button>
                </form>
              {% endif %}
            </div>
          </div>

          <a href="{% url 'Todo:task-update' pk=task.id %}" class="btn btn-info btn-sm">Update</a>
          <a href="{% url 'Todo:task-delete' pk=task.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No tasks available.</p>
  {% endif %}
{% endblock %}
